/* Set background color for the whole scene */
#AnchorPane {
    -fx-background-color:#1b3543
}

/* Style for labels */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

.project-title{
    -fx-font-size: 19px;
    -fx-background-color: #FFC857;
   // -fx-border-color: #8B0000;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0, 3, 3);
}

.aceess-point{
    -fx-background-color: #FFD700;
    -fx-border-color: #2F2F2F;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.30), 15, 0, 3, 3);
}

/* Style for text fields */
.text-field {
    -fx-pref-height: 28px;
    -fx-font-size: 13px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 4 8 4 8;
}

/* Style for ComboBox */
.combo-box {
    -fx-pref-height: 28px;
    -fx-font-size: 13px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Style for Login button */
.button {
    -fx-background-color: #4a90e2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 1);
}

.button:hover {
    -fx-background-color: #357ABD;
}
